body{
    background-color: lightgrey;
}

.login{
    width: 100px;
    height: 100px;
    position: absolute;
    top:32%;
    left: 35%;
    border-radius: 10px;
}
.box{
    background-color: rgb(237, 237, 100);
    border: 3px solid black;
    border-radius: 10px;
}
input[type=text] {
    padding: 10px 100px;
    margin: 10px 10px;
    box-sizing: border-box;
  }
  input[type=reset] {
    padding: 7px 30px;
    margin-left: 36%;
    font-weight: bold;
  }
  input[type=submit] {
    padding: 7px 30px;
    margin-left: 35%;
    font-weight: bold;
  }
 

